@use "colors.scss";

@font-face {
    font-family: "sf-pro";
    src: url("./assets/font/sf-pro/SFPRODISPLAYREGULAR.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "sf-pro";
    src: url("./assets/font/sf-pro/SFPRODISPLAYMEDIUM.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "sf-pro";
    src: url("./assets/font/sf-pro/SFPRODISPLAYBOLD.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Borel";
    src: url("./assets/font/borel/Borel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "urbanist-variable";
    src: url("./assets/font/urbanist-variable/Urbanist-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/font/inter/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: "sf-pro";
    user-select: none;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(white, 0.25);
    border-radius: 10px;
}