$accent-color: #2e2e2e;

$gradient-color-1: rgb(255, 255, 255);
$gradient-color-2: rgb(150, 150, 150);

$healthprogress-neutral-1: white;
$healthprogress-neutral-2: rgb(145, 145, 145);

// the values here get darker by 0.2
$healthprogress-gain: rgb(117, 117, 117);
$healthprogress-lose-1: white;
$healthprogress-lose-2: rgb(145, 145, 145);

$text-color: white;
$text-dimmed-color: rgba(211, 211, 211, 255);
$background-color: black;
$keystrokes-dimmed-color: rgb(75, 75, 75);

$account-online-color: #2e2e2e;
$account-offline-color: rgb(100, 100, 100);
$menu-error-color: red;

$opacity: 0.55;
$opacity2: 0.5;

$border-thing: solid 1px rgba(white, 0.1);

$primary-shadow: 0 0 10px rgba(black, 0.5);
$misc-box-shadow: 0 0 10px rgba(black, 0.3);
$userinfo-box-shadow: 0 0 5px rgba(black, 0.5);
$arraylist-shadow-color: black;

$targethud-winning: green;
$targethud-losing: red;
$targethud-draw: orange;

$arraylist-tag-color: #AAAAAA;

$shaderfix-color: rgba(black, 0.1); // idk why someone would fucking want this, but sure // shaderfix color
$fade-color: black;

$dot-color: white;